@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* กรอบหลัก */
.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.app-header {
  position: sticky; 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0; 
  z-index: 1000; 
  padding: 16px;
  background-color: #e9f175;
  color: #0f0101;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Sarabun", "Kanit", Tahoma, Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* พื้นที่ทั้งเว็บ */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* พื้นที่ที่เอาไว้แสดงข้อความแชท + input bar */
.chat-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  overflow-y: auto;
}

.chat-wrapper.center-input {
  justify-content: flex-start;
}

.chat-wrapper.has-msg {
  justify-content: flex-start;
}

/* เก็บข้อความเเชท */
.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px 500px;
  display: flex;
  flex-direction: column;
}


/* ---------- Bubble ---------- */
.message {
  max-width: 70%;
  padding: 12px 10px;
  border-radius: 12px;
  margin-bottom: 25px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* User Bubble */
.message.human {
  background: #2563eb;
  color: #fff;
  align-self: flex-end;
  padding: 8px;
}

/* AI Bubble */
.message.assistant {
  background: #e5e7eb;
  color: #000;
  align-self: flex-start;
}

/* ---------- Input bar ---------- */
.input-bar {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: transparent; 
}

/* ---------- กล่อง input จริง ---------- */
.input-bar-inner {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;
  max-width: 720px;
  padding: 12px 16px;
  background: #9e9898;
  border-radius: 999px; /* ขอบมนแบบ pill */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* ---------- input text ---------- */
.input-bar-inner input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
}

/* ปุ่มส่ง */
.input-bar-inner button {
  padding: 8px 16px;
  border: none;
  border-radius: 999px;
  background: #2563eb;
  color: #fdfdfd;
  cursor: pointer;
}

.voice-bar {
  justify-content: center;
}

.mic-btn {
  width: 100%;
  padding: 14px;
  border-radius: 24px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: #0a07c9ff;
  color: white;
}

.mic-btn.recording {
  background: #dc2626;
}
